@CHARSET "ISO-8859-1";

body{
	background-image: url("images/bg.jpg");
	font-family: sans-serif;
}

#wrapper {
	margin: 185px;       
	padding: 15px;
	width: 320px;
	height: 220px;
	border: 2px solid blue;
	border-radius: 10px;
	background: rgb(255, 142, 142);
	background: rgba(255, 142, 142, .6);
}

h1 {
	text-align: center;
}

#buttons {
	text-align: center;
}

.button {
	margin: 0 10px;
	border-radius: 3px;
}

.error {
	font-weight: bold;
	color: red;
	text-align: center;
}